doctype html
html(lang="ru")
  include head.pug
  body
    header.header
      div.header__gradient
      div.container
        a.header__logo(aria-labelledby="logo-title")
          svg.header__svg(width="126" height="41" role="img")
            title#logo-title Вы уже на главной странице
            use(xlink:href="./img/sprite.svg#icon-logo")
        h1.visually-hidden Конференции в сфере IT
        p.header__slogan Конференции,
          br
          | которые нужны
        p.header__desc Мы, JUG Ru Group, делаем крупнейшие конференции для программистов и сочувствующих.
        p.header__desc С нас — крутая программа, топовые спикеры, технические доклады без воды.
        p.header__desc С вас — готовность смотреть и общаться.
        div.header__btns-container
          a.header__link.header__link--buy(href="questions.html") Купить билет
          a.header__link.header__link--refuse(href="questions.html") Послать в жопу
    main.main
      section.main__full-pass.full-pass
        div.container
          div.full-pass__about
            h2.full-pass__heading Все 7 конференций в одном билете
            div.full-pass__img-container
              img(src="./img/fullpass_ticket.jpg" alt="Билет на 7 конференций" srcset="./img/fullpass_ticket@2x.jpg" width="610" height="272")
            a.full-pass__buy(href="#") Купить Full Pass
          ul.full-pass__benefits.list-nt
            li.list-nt__item
              span.list-nt__number 7
              span.list-nt__text направлений
            li.list-nt__item
              span.list-nt__number 200
              span.list-nt__text спикеров
            li.list-nt__item
              span.list-nt__number 250
              span.list-nt__text докладов
            li.list-nt__item
              span.list-nt__number 500+
              span.list-nt__text часов контента
      section.main__speakers.speakers
        div.container
          h2.speakers__heading Спикеры
          ul.speakers__list
            li.speakers__item.speaker-card
              div.speaker-card__img-conatiner
                img.speaker-card__img(src="./img/speaker1.jpg" alt="Miguel de Icaza" width="295" height="219")
              svg.speaker-card__conf(width="83" height="31" role="img")
                title DOT NEXT
                use(xlink:href="./img/sprite.svg#icon-dotnext")
              div.speaker-card__layout
                h3.speaker-card__heading Miguel de Icaza
                a.speaker-card__twitter(href="#" aria-label="Перейти в твиттер")
                  svg(width="25" height="35" role="img")
                    use(xlink:href="./img/sprite.svg#icon-tw")
              p.speaker-card__short-text Основатель проектов GNOME и Mono
              button.speaker-card__details(type="button") Подробнее
            li.speakers__item.speaker-card
              div.speaker-card__img-conatiner
                img.speaker-card__img(src="./img/speaker2.jpg" alt="Maoni Stephens " width="295" height="219")
              svg.speaker-card__conf(width="83" height="31" role="img")
                title DOT NEXT
                use(xlink:href="./img/sprite.svg#icon-dotnext")
              div.speaker-card__layout
                h3.speaker-card__heading Maoni Stephens
                a.speaker-card__twitter(href="#" aria-label="Перейти в твиттер")
                  svg(width="25" height="35" role="img")
                    use(xlink:href="./img/sprite.svg#icon-tw")
              p.speaker-card__short-text Архитектор и главный разработчик .NET GC
              button.speaker-card__details(type="button") Подробнее
            li.speakers__item.speaker-card
              div.speaker-card__img-conatiner
                img.speaker-card__img(src="./img/speaker3.jpg" alt="Дэн Абрамов" width="295" height="219")
              svg.speaker-card__conf(width="56" height="44" role="img")
                title DOT NEXT
                use(xlink:href="./img/sprite.svg#icon-holyjs")
              div.speaker-card__layout
                h3.speaker-card__heading Дэн Абрамов
                a.speaker-card__twitter(href="#" aria-label="Перейти в твиттер")
                  svg(width="25" height="35" role="img")
                    use(xlink:href="./img/sprite.svg#icon-tw")
              p.speaker-card__short-text Один из главных разработчиков Реакта
              button.speaker-card__details(type="button") Подробнее
            li.speakers__item.speaker-card
              div.speaker-card__img-conatiner
                img.speaker-card__img(src="./img/speaker4.jpg" alt="James Whittaker" width="295" height="219")
              svg.speaker-card__conf(width="96" height="18" role="img")
                title DOT NEXT
                use(xlink:href="./img/sprite.svg#icon-heisenbug")
              div.speaker-card__layout
                h3.speaker-card__heading James Whittaker
                a.speaker-card__twitter(href="#" aria-label="Перейти в твиттер")
                  svg(width="25" height="35" role="img")
                    use(xlink:href="./img/sprite.svg#icon-tw")
              p.speaker-card__short-text Автор книги «Как тестируют в Google»
              button.speaker-card__details(type="button") Подробнее
            li.speakers__item.speaker-card
              div.speaker-card__img-conatiner
                img.speaker-card__img(src="./img/speaker5.jpg" alt="Matt Godbolt " width="295" height="219")
              svg.speaker-card__conf(width="63" height="37" role="img")
                title C++
                use(xlink:href="./img/sprite.svg#icon-c++")
              div.speaker-card__layout
                h3.speaker-card__heading Matt Godbolt
                a.speaker-card__twitter(href="#" aria-label="Перейти в твиттер")
                  svg(width="25" height="35" role="img")
                    use(xlink:href="./img/sprite.svg#icon-tw")
              p.speaker-card__short-text Автор и создатель Compiler explorer
              button.speaker-card__details(type="button") Подробнее
            li.speakers__item.speaker-card
              div.speaker-card__img-conatiner
                img.speaker-card__img(src="./img/speaker6.jpg" alt="Евгений Борисов" width="295" height="219")
              svg.speaker-card__conf(width="70" height="21" role="img")
                title Joker
                use(xlink:href="./img/sprite.svg#icon-joker")
              div.speaker-card__layout
                h3.speaker-card__heading Евгений Борисов
                a.speaker-card__twitter(href="#" aria-label="Перейти в твиттер")
                  svg(width="25" height="35" role="img")
                    use(xlink:href="./img/sprite.svg#icon-tw")
              p.speaker-card__short-text Известный Spring-потрошитель
              button.speaker-card__details(type="button") Подробнее
            li.speakers__item.speaker-card
              div.speaker-card__img-conatiner
                img.speaker-card__img(src="./img/speaker7.jpg" alt="Patricia Aas" width="295" height="219")
              svg.speaker-card__conf(width="63" height="37" role="img")
                title C++
                use(xlink:href="./img/sprite.svg#icon-c++")
              div.speaker-card__layout
                h3.speaker-card__heading Patricia Aas
                a.speaker-card__twitter(href="#" aria-label="Перейти в твиттер")
                  svg(width="25" height="35" role="img")
                    use(xlink:href="./img/sprite.svg#icon-tw")
              p.speaker-card__short-text Программист C++ и основатель TurtleSec
              button.speaker-card__details(type="button") Подробнее
            li.speakers__item.speaker-card
              div.speaker-card__img-conatiner
                img.speaker-card__img(src="./img/speaker8.jpg" alt="Patrick Debois" width="295" height="219")
              svg.speaker-card__conf(width="68" height="43" role="img")
                title DEVOOPS
                use(xlink:href="./img/sprite.svg#icon-devoops-logo")
              div.speaker-card__layout
                h3.speaker-card__heading Patrick Debois
                a.speaker-card__twitter(href="#" aria-label="Перейти в твиттер")
                  svg(width="25" height="35" role="img")
                    use(xlink:href="./img/sprite.svg#icon-tw")
              p.speaker-card__short-text Ввел сам термин Devops
              button.speaker-card__details(type="button") Подробнее
          a.speakers__more(href="#") Показать ещё!
          a.speakers__more.speakers__more--yes(href="#") Убедили, куплю!
      section.main__conferences.conferences
        div.container
          h2.visually-hidden Ближайшие конференции
          ul.conferences__list
            li.conferences__item.conference-card
              svg.conference-card__img(width="135" height="83" role="img")
                title DEVOOPS
                use(xlink:href="./img/sprite.svg#icon-devoops")
              h3.conferences-card__heading Heisenbug 2020 Moscow
              p.conferences-card__text Онлайн-конференция по .NET-разработке
              span.conferences-card__data 4-7 ноября
              a.conferences-card__ticket(href="#") Билеты
              a.conferences-card__excerpt(href="#") Подробнее
            li.conferences__item.conference-card
              svg.conference-card__img(width="135" height="83" role="img")
                title DEVOOPS
                use(xlink:href="./img/sprite.svg#icon-devoops")
              h3.conferences-card__heading Heisenbug 2020 Moscow
              p.conferences-card__text Онлайн-конференция по .NET-разработке
              span.conferences-card__data 4-7 ноября
              a.conferences-card__ticket(href="#") Билеты
              a.conferences-card__excerpt(href="#") Подробнее
            li.conferences__item.conference-card
              svg.conference-card__img(width="135" height="83" role="img")
                title DEVOOPS
                use(xlink:href="./img/sprite.svg#icon-devoops")
              h3.conferences-card__heading Heisenbug 2020 Moscow
              p.conferences-card__text Онлайн-конференция по .NET-разработке
              span.conferences-card__data 4-7 ноября
              a.conferences-card__ticket(href="#") Билеты
              a.conferences-card__excerpt(href="#") Подробнее
            li.conferences__item.conference-card
              svg.conference-card__img(width="135" height="83" role="img")
                title DEVOOPS
                use(xlink:href="./img/sprite.svg#icon-devoops")
              h3.conferences-card__heading Heisenbug 2020 Moscow
              p.conferences-card__text Онлайн-конференция по .NET-разработке
              span.conferences-card__data 4-7 ноября
              a.conferences-card__ticket(href="#") Билеты
              a.conferences-card__excerpt(href="#") Подробнее
            li.conferences__item.conference-card
              svg.conference-card__img(width="135" height="83" role="img")
                title DEVOOPS
                use(xlink:href="./img/sprite.svg#icon-devoops")
              h3.conferences-card__heading Heisenbug 2020 Moscow
              p.conferences-card__text Онлайн-конференция по .NET-разработке
              span.conferences-card__data 4-7 ноября
              a.conferences-card__ticket(href="#") Билеты
              a.conferences-card__excerpt(href="#") Подробнее
            li.conferences__item.conference-card
              svg.conference-card__img(width="135" height="83" role="img")
                title DEVOOPS
                use(xlink:href="./img/sprite.svg#icon-devoops")
              h3.conferences-card__heading Heisenbug 2020 Moscow
              p.conferences-card__text Онлайн-конференция по .NET-разработке
              span.conferences-card__data 4-7 ноября
              a.conferences-card__ticket(href="#") Билеты
              a.conferences-card__excerpt(href="#") Подробнее
            li.conferences__item.conference-card
              svg.conference-card__img(width="135" height="83" role="img")
                title DEVOOPS
                use(xlink:href="./img/sprite.svg#icon-devoops")
              h3.conferences-card__heading Heisenbug 2020 Moscow
              p.conferences-card__text Онлайн-конференция по .NET-разработке
              span.conferences-card__data 4-7 ноября
              a.conferences-card__ticket(href="#") Билеты
              a.conferences-card__excerpt(href="#") Подробнее

      section.main__tickets.tickets
        div.container.container--card
          h2.visually-hidden Тарифы
          ul.tickets__list
            li.tickets__item.ticket-card
              h3.ticket-card__heading Personal
              span.ticket-card__slogan Порадовать себя
              ul.ticket-card__list
                li.ticket-card__item
                  h4.ticket-card__name One conference
                  svg.ticket-card__img(width="170" height="75" role="img")
                    use(xlink:href="./img/sprite.svg#icon-ticket1")
                  span.ticket-card__price 11500 ₽
                  a.ticket-card__buy(href="#") Купить
                li.ticket-card__item
                  h4.ticket-card__name Full Pass
                  svg.ticket-card__img(width="171" height="108" role="img")
                    use(xlink:href="./img/sprite.svg#icon-ticket8")
                  span.ticket-card__price 23000 ₽
                  a.ticket-card__buy(href="#") Купить
            li.tickets__item.ticket-card
              h3.ticket-card__heading Standard
              span.ticket-card__slogan Любимым сотрудникам
              ul.ticket-card__list
                li.ticket-card__item
                  h4.ticket-card__name One conference
                  svg.ticket-card__img(width="170" height="75" role="img")
                    use(xlink:href="./img/sprite.svg#icon-ticket1")
                  span.ticket-card__price 23000 ₽
                  a.ticket-card__buy(href="#") Купить
                li.ticket-card__item
                  h4.ticket-card__name Full Pass
                  svg.ticket-card__img(width="171" height="108" role="img")
                    use(xlink:href="./img/sprite.svg#icon-ticket8")
                  span.ticket-card__price 46000 ₽
                  a.ticket-card__buy(href="#") Купить
      section.main__why.why
        div.container
          h2.why__heading Зачем вам всё это?
          ul.why__list
            li.why__item.why__item--time
              h3.why__name Сэкономить время
              p.why__text Мы нашли за вас годные материалы и экспертов, которые по-настоящему разбираются в предметной области.
            li.why__item.why__item--relevance
              h3.why__name Получить актуальные знания
              p.why__text Мы следим за тем, чтобы доклады были новые и отражали реальность. Даже если вы увидите доклады о старых технологиях, вы узнаете о них что-то новое.
            li.why__item.why__item--water
              h3.why__name Посмотреть контент без воды
              p.why__text У нас нет булшита, инфобизнеса и клинического идиотизма — каждый доклад позволит вам сделать выводы, которые или улучшат что-то в вашей работе, или позволят понять, куда двигаться в будущем.
      section.main__about.about
        div.container
          div.about__background
            h2.visually-hidden О нас
            p.about__slogan На словах как Лев Толстой, и на деле Лев Толстой
            p.about__text Все доклады проверяются программными комитетами на современность, адекватность, объективность и полезность. А в программные комитеты мы берем людей, которые не только знают все о том, что происходит в уютненькой айтишечке, но и могут пояснить за адекватность происходящего.
            p.about__text.about__text--tablet У нас нет булшита, инфобизнеса и клинического идиотизма — каждый доклад позволит вам сделать выводы, которые или улучшат что-то в вашей работе, или позволят понять, куда двигаться в будущем.
      section.main__reviews.reviews
        div.container
          h2.reviews__heading Отзывы участников
          div.reviews__layout
            button.reviews__btn.reviews__btn--prev(aria-label="Previous" type="button") Previous
              svg(width="19" height="35" role="img")
                use(xlink:href="./img/sprite.svg#icon-previous")
            ul.reviews__slider
              li.reviews__item
                blockquote.reviews__quote
                  p.reviews__text Я сравнила две конференции: оффлайн 2019 и онлайн 2020. Онлайн - супер, можно посмотреть несколько докладов, можно в комфортном режиме слушать доклады, переключаться между докладами, а не бегать между залами. Удобно задавать вопросы. Видны все детали доклада, а на последнем ряду зала в оффлайне не видно ни спикера, ни слайды. Онлайн лучше: я не трачу время на проезд и не встаю в 6 утра чтобы успеть доехать к регистрации, 5 дней конференции в онлайн лучше для усвоения докладов, чем 2 дня оффлайн. Конференция для меня - это получение новых знаний и направлений развития, онлайн формат этому полностью соответствует.
                  cite.reviews__author Наталья Изюмская
              li.reviews__item
                blockquote.reviews__quote
                  p.reviews__text Онлайн: - удобнее в плане общения со спикерами - не нужно тратить время и деньги на поездки - IDE и все tools под рукой и можно лайвкодить
                  cite.reviews__author Василий Лактионов
            button.reviews__btn.reviews__btn--next(aria-label="Next" type="button") Next
              svg(width="19" height="35" role="img")
                use(xlink:href="./img/sprite.svg#icon-previous")

      section.main__additional.additional
        div.container
          div.additional__top
            h2.additional__heading О нас
            p.additional__desc Мы, JUG Ru Group, бережно организуем крупнейшие конференции для программистов с 2013 года.
            p.additional__desc В нашей команде обладатели званий Java Champion, Microsoft MVP, Google Developer Expert, Google Developer Group Lead.
          ul.additional__bottom.list-nt.list-nt--add
            li.list-nt__item.list-nt__item--add
              span.list-nt__number.list-nt__number--add 7
              span.list-nt__text.list-nt__text--add лет опыта
            li.list-nt__item.list-nt__item--add
              span.list-nt__number.list-nt__number--add 67
              span.list-nt__text.list-nt__text--add конференций проведено
            li.list-nt__item.list-nt__item--add
              span.list-nt__number.list-nt__number--add 30 700
              span.list-nt__text.list-nt__text--add довольных участников
    footer
      div.container
        div.footer__top
          a.footer__logo
            svg(width="138" height="45" role="img")
              use(xlink:href="./img/sprite.svg#icon-logo")
          dl.footer__contacts
            dt.footer__contacts-inf Информация
            dd.footer__contacts-def info@jugru.org
            dt.footer__contacts-inf Поддержка
            dd.footer__contacts-def support@jugru.org
            dt.footer__contacts-inf Офис
            dd.footer__contacts-def +7 812 904 4212
            dt.footer__contacts-inf Отдел продаж
            dd.footer__contacts-def +7 812 904 6648
          a.footer__policy(href="#") Политика конфиденциальности
          a.footer__behave Нормы поведения
        div.footer__bottom
          span.footer__copyright &copy;&nbsp;2012&ndash;2020&nbsp;JUG Ru&nbsp;Group.
          ul.footer__socials.socials
            li.socials__item
              a.socials__link(href="#" aria-labelledby="vk")
                svg.socials__svg(width="21" height="12" role="img")
                  title#vk Мы вконтакте
                  use(xlink:href="./img/sprite.svg#icon-vk")
            li.socials__item
              a.socials__link(href="#" aria-labelledby="f")
                svg.socials__svg(width="10" height="20" role="img")
                  title#f Мы в фэйсбуке
                  use(xlink:href="./img/sprite.svg#icon-f")
            li.socials__item
              a.socials__link(href="#" aria-labelledby="tw")
                svg.socials__svg(width="18" height="18" role="img")
                  title#tw Мы в твиттере
                  use(xlink:href="./img/sprite.svg#icon-tw-s")
    template#questions
      div.questions.questions--m
        div.questions__box.questions__box--m
          div.container
            h1.visually-hidden Ваши вопросы
            div.questions__layout
              div.questions__item.question-yes
                h2.question-yes__header Я хочу знать, когда
                  br
                  | будет офлайн
                form.question-yes__form.form-subscribe(method="post" action="https://echo.htmlacademy.ru")
                  div.form-subscribe__inp-container
                    input#email(name="email" type="email" placeholder="Укажите email" required)
                    label.visually-hidden(for="email") Ваш email
                  button.form-subscribe__btn(type="submit") Подписаться
                small.question-yes__agreement Нажимая на кнопку вы соглашаетесь
                  br
                  | на обработку
                  a(href="#")  персональных данных
              div.questions__item.question-no
                h2.question-no__header Идите в жопу!
                ul.question-no__list
                  each name in ['Вы свои цены видели?', 'Доклады ни о чем', 'У вас там всё хорошо?', 'Денег нет, но вы держитесь']
                    li.question-no__item
                      a.question-no__link(href="#")= name
            div.questions__return-layout(tabindex="0")
              svg.questions__return-svg(width="24" height="39" role="img")
                use(xlink:href="./img/sprite.svg#icon-arrow")
              a.questions__return-text(href="index.html") Я кликнул просто посмотреть
    template#thankyou
      div.thankyou
        div.tankyou__box
          h2.thankyou__header Я хочу знать, когда
            br
            | будет офлайн
          p.thankyou__text.thankyou-text
            svg(width="50" height="50" role="img")
              use(xlink:href="./img/sprite.svg#icon-thankyou-check")
            | Спасибо, что подписались
            br
            | на нашу рассылку!
    template#bad-modal
      div.bad
        div.bad__box.question-no
          p.bad__text Спасибо, что поделились!
    script(src="js/jquery-3.6.0.min.js")
    script(src="js/slick.min.js")
    script(src="js/script.js")
