doctype html
html(lang="ru")
  include head.pug
  body
    header.header
      div.header__gradient
      div.container
        a.header__logo
          svg.header__svg(width="126" height="41" role="img" aria-labelledby="logo-title")
            title#logo-title Вы уже на главной странице
            use(xlink:href="./img/sprite.svg#icon-logo")
        h1.visually-hidden Конференции в сфере IT
        p.header__slogan Конференции,
          br
          | которые нужны
        p.header__desc Мы, JUG Ru Group, делаем крупнейшие конференции для программистов и сочувствующих.
        p.header__desc С нас — крутая программа, топовые спикеры, технические доклады без воды.
        p.header__desc С вас — готовность смотреть и общаться.
        div.header__btns-container
          a.header__link.header__link--buy(href="questions.html") Купить билет
          a.header__link.header__link--refuse(href="questions.html") Послать в жопу
    main.main
      section.main__full-pass.full-pass
        div.container
          div.full-pass__about
            h2.full-pass__heading Все 7 конференций в одном билете
            div.full-pass__img-container
              img(src="./img/fullpass_ticket.jpg" alt="Билет на 7 конференций" srcset="./img/fullpass_ticket@2x.jpg" width="610" height="272")
            a.full-pass__buy(href="#") Купить Full Pass
          ul.full-pass__benefits.benefits
            li.benefits__item
              span.benefits__number 7
              span.benefits__text направлений
            li.benefits__item
              span.benefits__number 200
              span.benefits__text спикеров
            li.benefits__item
              span.benefits__number 250
              span.benefits__text докладов
            li.benefits__item
              span.benefits__number 500+
              span.benefits__text часов контента
      section.main__speakers.speakers
        div.container
          h2.speakers__heading Спикеры
          ul.speakers__list
            li.speakers__item.speaker-card
              div.speaker-card__img-conatiner
                img.speaker-card__img(src="./img/speaker1.jpg" alt="Miguel de Icaza" width="295" height="219")
              svg.speaker-card__conf(width="83" height="31" role="img")
                title DOT NEXT
                use(xlink:href="./img/sprite.svg#icon-dotnext")
              div.speaker-card__layout
                h3.speaker-card__heading Miguel de Icaza
                a.speaker-card__twitter(href="#" aria-label="Перейти в твиттер")
                  svg(width="25" height="35" role="img")
                    use(xlink:href="./img/sprite.svg#icon-tw")
              p.speaker-card__short-text Основатель проектов GNOME и Mono
              button.speaker-card__details(type="button") Подробнее
            li.speakers__item.speaker-card
              div.speaker-card__img-conatiner
                img.speaker-card__img(src="./img/speaker2.jpg" alt="Maoni Stephens " width="295" height="219")
              svg.speaker-card__conf(width="83" height="31" role="img")
                title DOT NEXT
                use(xlink:href="./img/sprite.svg#icon-dotnext")
              div.speaker-card__layout
                h3.speaker-card__heading Maoni Stephens
                a.speaker-card__twitter(href="#" aria-label="Перейти в твиттер")
                  svg(width="25" height="35" role="img")
                    use(xlink:href="./img/sprite.svg#icon-tw")
              p.speaker-card__short-text Архитектор и главный разработчик .NET GC
              button.speaker-card__details(type="button") Подробнее
            li.speakers__item.speaker-card
              div.speaker-card__img-conatiner
                img.speaker-card__img(src="./img/speaker3.jpg" alt="Дэн Абрамов" width="295" height="219")
              svg.speaker-card__conf(width="56" height="44" role="img")
                title DOT NEXT
                use(xlink:href="./img/sprite.svg#icon-holyjs")
              div.speaker-card__layout
                h3.speaker-card__heading Дэн Абрамов
                a.speaker-card__twitter(href="#" aria-label="Перейти в твиттер")
                  svg(width="25" height="35" role="img")
                    use(xlink:href="./img/sprite.svg#icon-tw")
              p.speaker-card__short-text Один из главных разработчиков Реакта
              button.speaker-card__details(type="button") Подробнее
            li.speakers__item.speaker-card
              div.speaker-card__img-conatiner
                img.speaker-card__img(src="./img/speaker4.jpg" alt="James Whittaker" width="295" height="219")
              svg.speaker-card__conf(width="96" height="18" role="img")
                title DOT NEXT
                use(xlink:href="./img/sprite.svg#icon-heisenbug")
              div.speaker-card__layout
                h3.speaker-card__heading James Whittaker
                a.speaker-card__twitter(href="#" aria-label="Перейти в твиттер")
                  svg(width="25" height="35" role="img")
                    use(xlink:href="./img/sprite.svg#icon-tw")
              p.speaker-card__short-text Автор книги «Как тестируют в Google»
              button.speaker-card__details(type="button") Подробнее
            li.speakers__item.speaker-card
              div.speaker-card__img-conatiner
                img.speaker-card__img(src="./img/speaker5.jpg" alt="Matt Godbolt " width="295" height="219")
              svg.speaker-card__conf(width="63" height="37" role="img")
                title C++
                use(xlink:href="./img/sprite.svg#icon-c++")
              div.speaker-card__layout
                h3.speaker-card__heading Matt Godbolt
                a.speaker-card__twitter(href="#" aria-label="Перейти в твиттер")
                  svg(width="25" height="35" role="img")
                    use(xlink:href="./img/sprite.svg#icon-tw")
              p.speaker-card__short-text Автор и создатель Compiler explorer
              button.speaker-card__details(type="button") Подробнее
            li.speakers__item.speaker-card
              div.speaker-card__img-conatiner
                img.speaker-card__img(src="./img/speaker6.jpg" alt="Евгений Борисов" width="295" height="219")
              svg.speaker-card__conf(width="70" height="21" role="img")
                title Joker
                use(xlink:href="./img/sprite.svg#icon-joker")
              div.speaker-card__layout
                h3.speaker-card__heading Евгений Борисов
                a.speaker-card__twitter(href="#" aria-label="Перейти в твиттер")
                  svg(width="25" height="35" role="img")
                    use(xlink:href="./img/sprite.svg#icon-tw")
              p.speaker-card__short-text Известный Spring-потрошитель
              button.speaker-card__details(type="button") Подробнее
            li.speakers__item.speaker-card
              div.speaker-card__img-conatiner
                img.speaker-card__img(src="./img/speaker7.jpg" alt="Patricia Aas" width="295" height="219")
              svg.speaker-card__conf(width="63" height="37" role="img")
                title C++
                use(xlink:href="./img/sprite.svg#icon-c++")
              div.speaker-card__layout
                h3.speaker-card__heading Patricia Aas
                a.speaker-card__twitter(href="#" aria-label="Перейти в твиттер")
                  svg(width="25" height="35" role="img")
                    use(xlink:href="./img/sprite.svg#icon-tw")
              p.speaker-card__short-text Программист C++ и основатель TurtleSec
              button.speaker-card__details(type="button") Подробнее
            li.speakers__item.speaker-card
              div.speaker-card__img-conatiner
                img.speaker-card__img(src="./img/speaker8.jpg" alt="Patrick Debois" width="295" height="219")
              svg.speaker-card__conf(width="68" height="43" role="img")
                title DEVOOPS
                use(xlink:href="./img/sprite.svg#icon-devoops-logo")
              div.speaker-card__layout
                h3.speaker-card__heading Patrick Debois
                a.speaker-card__twitter(href="#" aria-label="Перейти в твиттер")
                  svg(width="25" height="35" role="img")
                    use(xlink:href="./img/sprite.svg#icon-tw")
              p.speaker-card__short-text Ввел сам термин Devops
              button.speaker-card__details(type="button") Подробнее
          a.speakers__more(href="#") Показать ещё!
          a.speakers__more.speakers__more--yes(href="#") Убедили, куплю!
      section.main__conferences.conferences
        div.container
          h2.visually-hidden Ближайшие конференции
          ul.conferences__list
            li.conferences__item.conference-card
              svg.conference-card__img(width="135" height="83" role="img")
                title DEVOOPS
                use(xlink:href="./img/sprite.svg#icon-devoops")
              h3.conferences-card__heading Heisenbug 2020 Moscow
              p.conferences-card__text Онлайн-конференция по .NET-разработке
              span.conferences-card__data 4-7 ноября
              a.conferences-card__ticket(href="#") Билеты
              a.conferences-card__excerpt(href="#") Подробнее
            li.conferences__item.conference-card
              svg.conference-card__img(width="135" height="83" role="img")
                title DEVOOPS
                use(xlink:href="./img/sprite.svg#icon-devoops")
              h3.conferences-card__heading Heisenbug 2020 Moscow
              p.conferences-card__text Онлайн-конференция по .NET-разработке
              span.conferences-card__data 4-7 ноября
              a.conferences-card__ticket(href="#") Билеты
              a.conferences-card__excerpt(href="#") Подробнее
            li.conferences__item.conference-card
              svg.conference-card__img(width="135" height="83" role="img")
                title DEVOOPS
                use(xlink:href="./img/sprite.svg#icon-devoops")
              h3.conferences-card__heading Heisenbug 2020 Moscow
              p.conferences-card__text Онлайн-конференция по .NET-разработке
              span.conferences-card__data 4-7 ноября
              a.conferences-card__ticket(href="#") Билеты
              a.conferences-card__excerpt(href="#") Подробнее
            li.conferences__item.conference-card
              svg.conference-card__img(width="135" height="83" role="img")
                title DEVOOPS
                use(xlink:href="./img/sprite.svg#icon-devoops")
              h3.conferences-card__heading Heisenbug 2020 Moscow
              p.conferences-card__text Онлайн-конференция по .NET-разработке
              span.conferences-card__data 4-7 ноября
              a.conferences-card__ticket(href="#") Билеты
              a.conferences-card__excerpt(href="#") Подробнее
            li.conferences__item.conference-card
              svg.conference-card__img(width="135" height="83" role="img")
                title DEVOOPS
                use(xlink:href="./img/sprite.svg#icon-devoops")
              h3.conferences-card__heading Heisenbug 2020 Moscow
              p.conferences-card__text Онлайн-конференция по .NET-разработке
              span.conferences-card__data 4-7 ноября
              a.conferences-card__ticket(href="#") Билеты
              a.conferences-card__excerpt(href="#") Подробнее
            li.conferences__item.conference-card
              svg.conference-card__img(width="135" height="83" role="img")
                title DEVOOPS
                use(xlink:href="./img/sprite.svg#icon-devoops")
              h3.conferences-card__heading Heisenbug 2020 Moscow
              p.conferences-card__text Онлайн-конференция по .NET-разработке
              span.conferences-card__data 4-7 ноября
              a.conferences-card__ticket(href="#") Билеты
              a.conferences-card__excerpt(href="#") Подробнее
            li.conferences__item.conference-card
              svg.conference-card__img(width="135" height="83" role="img")
                title DEVOOPS
                use(xlink:href="./img/sprite.svg#icon-devoops")
              h3.conferences-card__heading Heisenbug 2020 Moscow
              p.conferences-card__text Онлайн-конференция по .NET-разработке
              span.conferences-card__data 4-7 ноября
              a.conferences-card__ticket(href="#") Билеты
              a.conferences-card__excerpt(href="#") Подробнее

      section.main__tickets.tickets
        div.container
          h2.visually-hidden Тарифы
          ul.tickets__list
            li.tickets__item.ticket-card
              h3.ticket-card__heading Personal
              span.ticket-card__slogan Порадовать себя
              ul.ticket-card__list
                li.ticket-card__item
                  h4.ticket-card__name One conference
                  svg.ticket-card__img(width="170" height="75" role="img")
                    use(xlink:href="./img/sprite.svg#icon-ticket1")
                  span.ticket-card__price 11500 ₽
                  a.ticket-card__buy(href="#") Купить
                li.ticket-card__item
                  h4.ticket-card__name Full Pass
                  svg.ticket-card__img(width="171" height="108" role="img")
                    use(xlink:href="./img/sprite.svg#icon-ticket8")
                  span.ticket-card__price 23000 ₽
                  a.ticket-card__buy(href="#") Купить
            li.tickets__item.ticket-card
              h3.ticket-card__heading Standard
              span.ticket-card__slogan Любимым сотрудникам
              ul.ticket-card__list
                li.ticket-card__item
                  h4.ticket-card__name One conference
                  svg.ticket-card__img(width="170" height="75" role="img")
                    use(xlink:href="./img/sprite.svg#icon-ticket1")
                  span.ticket-card__price 23000 ₽
                  a.ticket-card__buy(href="#") Купить
                li.ticket-card__item
                  h4.ticket-card__name Full Pass
                  svg.ticket-card__img(width="171" height="108" role="img")
                    use(xlink:href="./img/sprite.svg#icon-ticket8")
                  span.ticket-card__price 46000 ₽
                  a.ticket-card__buy(href="#") Купить
    footer
    template#questions
      div.questions.questions--m
        div.questions__box.questions__box--m
          div.container
            h1.visually-hidden Ваши вопросы
            div.questions__layout
              div.questions__item.question-yes
                h2.question-yes__header Я хочу знать, когда
                  br
                  | будет офлайн
                form.question-yes__form.form-subscribe(method="post" action="https://echo.htmlacademy.ru")
                  div.form-subscribe__inp-container
                    input#email(name="email" type="email" placeholder="Укажите email" required)
                    label.visually-hidden(for="email") Ваш email
                  button.form-subscribe__btn(type="submit") Подписаться
                small.question-yes__agreement Нажимая на кнопку вы соглашаетесь
                  br
                  | на обработку
                  a(href="#")  персональных данных
              div.questions__item.question-no
                h2.question-no__header Идите в жопу!
                ul.question-no__list
                  each name in ['Вы свои цены видели?', 'Доклады ни о чем', 'У вас там всё хорошо?', 'Денег нет, но вы держитесь']
                    li.question-no__item
                      a.question-no__link(href="#")= name
            div.questions__return-layout(tabindex="0")
              svg.questions__return-svg(width="24" height="39" role="img")
                use(xlink:href="./img/sprite.svg#icon-arrow")
              a.questions__return-text(href="index.html") Я кликнул просто посмотреть
    template#thankyou
      div.thankyou
        div.tankyou__box
          h2.thankyou__header Я хочу знать, когда
            br
            | будет офлайн
          p.thankyou__text.thankyou-text
            svg(width="50" height="50" role="img")
              use(xlink:href="./img/sprite.svg#icon-thankyou-check")
            |Спасибо, что подписались
            br
            | на нашу рассылку!
    template#bad-modal
      div.bad
        div.bad__box.question-no
          p.bad__text Спасибо, что поделились!
    script(src="js/script.js")
