doctype html
html(lang="ru")
  include head.pug
  body
    header.header
      div.header__gradient
      div.container
        a.header__logo
          svg.header__svg(width="126" height="41" role="img" aria-labelledby="logo-title")
            title#logo-title Вы уже на главной странице
            use(xlink:href="./img/sprite.svg#icon-logo")
        h1.visually-hidden Конференции в сфере IT
        p.header__slogan Конференции,
          br
          | которые нужны
        p.header__desc Мы, JUG Ru Group, делаем крупнейшие конференции для программистов и сочувствующих.
        p.header__desc С нас — крутая программа, топовые спикеры, технические доклады без воды.
        p.header__desc С вас — готовность смотреть и общаться.
        div.header__btns-container
          a.header__link.header__link--buy(href="questions.html") Купить билет
          a.header__link.header__link--refuse(href="questions.html") Послать в жопу
    template
      div.questions
        div.questions__box
          h1.visually-hidden Ваши вопросы
          div.questions__layout
            div.questions__item.question-yes
              h2.question-yes__header Я хочу знать, когда будет офлайн
              form.question-yes__form.form-subscribe(method="post")
                div.form-subscribe__inp-container
                  input#email(name="email" type="email" placeholder="Укажите email" required)
                  label.visually-hidden(for="email") Ваш email
                button.form-subscribe__btn(type="submit") Подписаться
              small.question-yes__agreement Нажимая на кнопку вы соглашаетесь на обработку персональных данных
            div.questions__item.question-no
              h2.question-no__header Идите в жопу!
              ul.question-no__list
                each name in ['Вы свои цены видели?', 'Доклады ни о чем', 'У вас там всё хорошо?', 'Денег нет, но вы держитесь']
                  li.question-no__item
                    a.question-no__link(href="#")= name
          a.questions__return Я кликнул просто посмотреть
