.additional {
  background-color: $black;
  color: $white;
  font-family: $font;
  font-style: normal;
  padding-bottom: 66px;
  position: relative;
  overflow-x: hidden;

  &::before {
    @include pseudo($pos: relative);
    @include size(100%, 230px);
    background-image: url("../img/black-mountains.svg");
    background-position: top;
    background-repeat: repeat-x;
    background-color: $white;
  }

  @media (max-width: $m-end) {
    padding-bottom: 28px;

    &::after {
      @include pseudo();
      @include size(443px, 200px);
      background-image: url("../img/icon-duck_site.svg");
      background-repeat: no-repeat;
      background-size: contain;
      right: -57px;
      top: 66px;
    }
  }

  @media (max-width: $s-end) {
    padding-bottom: 22px;

    &::after {
      display: none;
    }

    &::before {
      @include pseudo($pos: relative);
      @include size(100%, 135px);
      background-image: url("../img/black-mountains-320.svg");
      background-color: $white;
    }
  }
}

.additional__top {
  background-image: url("../img/icon-duck_site.svg");
  background-repeat: no-repeat;
  background-size: 37% 208px;
  background-position: 92% center;
  min-height: 208px;
  margin-bottom: 165px;

  @media (max-width: $m-end) {
    background-image: none;
    padding-top: 40px;
    margin-bottom: 52px;
  }

  @media (max-width: $s-end) {
    padding-top: 28px;
    background-image: url("../img/icon-duck_site.svg");
    background-size: auto 124px;
    padding-bottom: 169px;
    background-position: center 96%;
    margin-bottom: 31px;
  }
}

.additional__heading {
  font-weight: bold;
  font-size: 50px;
  line-height: 1.22;
  margin: 0;
  width: 50%;
  padding-left: 8.4%;
  margin-bottom: 24px;

  @media (max-width: $m-end) {
    font-size: 24px;
    padding-left: 0;
  }

  @media (max-width: $s-end) {
    width: auto;
    padding-right: 10%;
    margin-bottom: 15px;
  }
}

.additional__desc {
  font-weight: normal;
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
  width: 49%;
  padding-left: 8.4%;

  @media (max-width: $m-end) {
    font-size: 14px;
    padding-left: 0;
    width: 65%;

    &:first-of-type {
      margin-bottom: 10px;
    }
  }

  @media (max-width: $s-end) {
    font-size: 12px;
    width: auto;
    max-width: 550px;

    &:first-of-type {
      margin-bottom: 0;
    }
  }
}

.additional__bottom {
  margin-left: 13%;
  margin-right: 13%;

  @media (max-width: $m-end) {
    margin: 0 0 0 4%;
  }

  @media (max-width: $s-end) {
    margin: 0;
  }
}
