.conferences {
  padding-top: 20px;
  overflow-x: hidden;
}

.conferences__list{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: -20px;

  @media (max-width: $s-end) {
    justify-content: center;
  }
}

.conferences__item{
  margin-right: 20px;
  margin-bottom: 22px;

  @media (max-width: $m-end) {
    margin-bottom: 23px;
  }

  @media (max-width: $s-end) {
    margin-bottom: 21px;
  }
}
