.conference-card {
  width: 295px;
  box-shadow: 0 2px 15px rgba($black, 0.05);
  border-radius: 20px;
  color: $black;
  background-color: $white;
  position: relative;
  padding: 57px 26px 21px;
  font-weight: normal;

  &::before {
    @include pseudo($content: "Онлайн");
    background-image: url("../img/icon-geo.svg");
    background-repeat: no-repeat;
    background-position: 17px 0;
    background-size: 16px 16px;
    top: 15px;
    left: 0;
    font-size: 14px;
    line-height: 1.5;
    padding-left: 38px;
  }

  @media (max-width: $m-end) {
    width: 314px;
    padding-top: 51px;
    padding-bottom: 16px;

    &::before {
      font-size: 10px;
    }
  }

  @media (max-width: $s-end) {
    width: 280px;
    padding: 56px 20px 16px;

    &::before{
      top: 20px;
      background-position: 12px 0;
      padding-left: 31px;
    }
  }
}

.conference-card__img {
  display: block;
  margin: 0 auto;
  margin-bottom: 31px;

  @media (max-width: $m-end) {
    margin-bottom: 34px;
  }

  @media (max-width: $s-end) {
    margin-bottom: 30px;
  }
}

.conferences-card__heading {
  margin: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 8px;

  @media (max-width: $m-end) {
    margin-bottom: 3px;
  }
}

.conferences-card__text {
  margin: 0;
  font-size: 14px;
  line-height: 1.5;
  color: rgba($black, 0.7);
  padding-right: 18px;
  margin-bottom: 11px;

  @media (max-width: $m-end) {
    font-size: 12px;
    padding-right: 80px;
    margin-bottom: 20px;
  }
}

.conferences-card__data {
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
  margin-bottom: 19px;
  display: block;

  @media (max-width: $m-end) {
    font-size: 12px;
    margin-bottom: 29px;
  }

  @media (max-width: $s-end) {
    margin-bottom: 15px;
  }
}

.conferences-card__ticket {
  font-size: 14px;
  line-height: 1.22;
  text-align: center;
  color: rgba($black, 0.7);
  display: block;
  border: 1px solid rgba($black, 0.5);
  border-radius: 24px;
  width: 120px;
  margin: 0 auto;
  margin-bottom: 11px;
  padding: 11px 0;

  @media (max-width: $m-end) {
    width: 128px;
    margin-bottom: 20px;
  }

  @media (max-width: $s-end) {
    width: 106px;
    font-size: 11px;
    padding-bottom: 9px;
    margin-bottom: 12px;
  }
}

.conferences-card__excerpt {
  font-size: 14px;
  line-height: 1.22;
  text-decoration-line: underline;
  color: rgba($black, 0.7);
  text-decoration-skip-ink: none;
  display: block;
  text-align: center;

  @media (max-width: $s-end) {
    font-size: 11px;
  }
}
