.main__full-pass {
  margin-bottom: 118px;

  @media (max-width: $m-end) {
    margin-bottom: 60px;
  }

  @media (max-width: $s-end) {
    margin-bottom: 17px;
  }
}

.main__speakers {
  margin-bottom: 132px;

  @media (max-width: $m-end) {
    margin-bottom: 93px;
  }

  @media (max-width: $s-end) {
    margin-bottom: 29px;
  }
}

.main__conferences {
  margin-bottom: 79px;

  @media (max-width: $s-end) {
    margin-bottom: 22px;
  }
}

.main__tickets {
  margin-bottom: 100px;
}

.main__why {
  margin-bottom: 96px;

  @media (max-width: $m-end) {
    margin-bottom: 26px;
  }

  @media (max-width: $s-end) {
    margin-bottom: 23px;
  }
}
.main__about{
  margin-bottom: 132px;
}
