.main__full-pass {
  margin-bottom: 118px;

  @media (max-width: $m-end) {
    margin-bottom: 60px;
  }

  @media (max-width: $s-end) {
    margin-bottom: 17px;
  }
}

.main__speakers {
  margin-bottom: 132px;

  @media (max-width: $m-end) {
    margin-bottom: 93px;
  }

  @media (max-width: $s-end) {
    margin-bottom: 29px;
  }
}

.main__conferences {
  margin-bottom: 79px;
}
