.reviews {
  font-family: $font;
  color: $black;

  @media (max-width: $s-end) {

  }
}

.reviews__heading {
  font-weight: 600;
  font-size: 28px;
  line-height: 1.3;
  text-align: center;
  margin-top: 0;
  margin-bottom: 67px;

  @media (max-width: $m-end) {
    font-size: 24px;
    margin-bottom: 48px;
  }

  @media (max-width: $s-end) {
    font-size: 20px;
    margin-bottom: 29px;
  }
}

.reviews__layout {
  position: relative;
  padding: 0 22%;

  @media (max-width: $m-end) {
    padding: 0 8%;
  }

  @media (max-width: $s-end) {
    padding: 0;
    max-width: 320px;
    margin: 0 auto;
  }
}

.reviews__slider {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  position: relative;

  @media (max-width: $s-end) {

  }
}

.reviews__slider .slick-list {
  overflow: hidden;
}

.reviews__slider .slick-track {
  display: flex;
  top: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  overflow: hidden;
}

.reviews__slider .slick-slide {
  &:focus{
    outline: none;
  }
}

.reviews__quote {
  background: $gary-light;
  border-radius: 20px;
  width: 610px;
  margin: 0 auto;
  padding: 40px 45px 25px 46px;
  display: flex;
  flex-direction: column;
  height: 100%;

  @media (max-width: $m-end) {
    width: 466px;
    padding: 25px 30px 15px 35px;
  }

  @media (max-width: $s-end) {
    width: 240px;
    padding: 20px 17px 9px 17px;
  }
}

.reviews__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
  margin-bottom: 38px;

  @media (max-width: $m-end) {
    margin-bottom: 30px;
  }

  @media (max-width: $s-end) {
    font-size: 12px;
    margin-bottom: 20px;
  }
}

.reviews__author {
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.5;
  color: rgba($black, 0.7);
  align-self: flex-end;

  @media (max-width: $s-end) {
    font-size: 12px;
  }
}


.reviews__btn {
  font-size: 0;
  background-color: transparent;
  border: 0;
  padding: 0;
  width: 20px;
  height: 35px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;

  svg {
    fill: transparent;
  }

  &--prev {
    left: 19.6%;
  }

  &--next {
    right: 19.6%;

    svg {
      transform: rotate(180deg);
    }
  }

  &:hover,
  &:focus {
    outline: none;
    transform: translateY(-50%) scale(1.2);
  }

  @media (max-width: $m-end) {
    &--prev {
      left: 5%;
    }

    &--next {
      right: 5%;
    }
  }

  @media (max-width: $s-end) {
    &--prev {
      left: 0;
    }

    &--next {
      right: 0;
    }
  }
}
