.socials {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;

  @media (max-width: $m-end) {

  }
}

.socials__item {
  margin-right: 7px;

  @media (max-width: $m-end) {

  }
}

.socials__link {
  @include square(35px);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $white;
  border-radius: 50%;

  @media (max-width: $m-end) {
    background-color: $socials;
  }
}

.socials__svg {

}
