@keyframes gradient {
  0% {
    background-position: -26% -26%;
  }
  100% {
    background-position: 256% 256%;
  }
}
@keyframes gradient-m {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 96% 96%;
  }
}

@keyframes gradient-s {
  0% {
    background-position: 30% 30%;
  }
  100% {
    background-position: 93.5% 93.5%;
  }
}

@keyframes modal {
  0%{
    top: 0;
  }
  50%{
    top: 10vh;
  }
  100%{
    top: 7vh;
  }
}
