@keyframes gradient {
  0% {
    background-position: -26% -26%;
  }
  100% {
    background-position: 256% 256%;
  }
}
@keyframes gradient-m {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 96% 96%;
  }
}

@keyframes gradient-s {
  0% {
    background-position: 30% 30%;
  }
  100% {
    background-position: 93.5% 93.5%;
  }
}

@keyframes modal {
  0%{
    top: 0;
  }
  50%{
    top: 10vh;
  }
  100%{
    top: 7vh;
  }
}

@keyframes btn-more {
  0%{
    background-image: linear-gradient(to right, $black);
  }
  25%{
    background-image: linear-gradient(to right, $yellow 0, $yellow 25%, $black 25%);
  }

  50%{
    background-image: linear-gradient(to right, $yellow 0, $yellow 50%, $black 50%);
  }
  75%{
    background-image: linear-gradient(to right, $yellow 0, $yellow 75%, $black 75%);
  }
  100%{
    background-image: linear-gradient(to right, $yellow);
  }
}
