$mono: "PT Mono", "Arial", sans-serif;
$roboto: "Roboto Condensed", "Arial", sans-serif;

//size
$small: 320px;
$medium: 768px;
$large: 1024px;

$s-end: 767px;
$m-end: 1023px;
$l-end: 1400px;

//colors
$white: #ffffff;
$black: #000000;
$yellow: #fbcb03;
$yellow-active: #e6b901;
