$font: "Montserrat", "Arial", sans-serif;

//size
$small: 320px;
$medium: 768px;
$large: 1024px;

$s-end: 767px;
$m-end: 1250px;
$l-end: 1400px;

//временно!!!
//colors
$white: #ffffff;
$gary-light: #F8F8F8;
$socials: #f9f9f9;
$gray: #e5e5e5;
$black: #000000;
$yellow: #fbcb03;
$yellow-active: #e6b901;
